<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <div class="upload-container">
    <h2 class="upload-title">Subir archivo</h2>
    
    <div class="upload-instructions">
      <ion-checkbox [(ngModel)]="termsAccepted"></ion-checkbox>
      <span>Sube tus apuntes con total confianza</span>
      <p>Busca la asignatura para subir tus archivos</p>
    </div>

    <div class="courses-table">
      <div class="table-header">
        <span class="course-col">Curso</span>
        <span class="price-col">💶</span>
      </div>
      
      <div class="table-row" *ngFor="let course of courses">
        <span class="course-col">{{course.name}}</span>
        <span class="price-col">{{course.hasPrice ? '💶' : ''}}</span>
      </div>
    </div>

    <div class="file-note">
      <p>Los archivos se subirán como documento único</p>
    </div>

    <div class="upload-actions">
      <ion-button class="action-button" fill="outline">
        <ion-icon name="document-attach" slot="start"></ion-icon>
        Añadir archivo
      </ion-button>
      <ion-button class="action-button" fill="outline">
        <ion-icon name="image" slot="start"></ion-icon>
        Añadir imagen
      </ion-button>
      <ion-button class="action-button" fill="outline">
        <ion-icon name="link" slot="start"></ion-icon>
        Añadir link
      </ion-button>
    </div>

    <div class="back-button-container">
      <ion-button class="back-button" fill="clear" routerLink="/">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        Volver
      </ion-button>
    </div>
  </div>
</ion-content>