<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Te damos la bienvenida a NotaLoop</h2>
  <p>Comencemos con el registro</p>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Nombre</label>
          <ion-input type="text" [(ngModel)]="formData.nombre" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Apellidos</label>
          <ion-input type="text" [(ngModel)]="formData.apellidos" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Nombre de Usuario</label>
          <ion-input type="text" [(ngModel)]="formData.usuario" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Rut</label>
          <ion-input type="text" [(ngModel)]="formData.rut" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Comuna</label>
          <ion-input type="text" [(ngModel)]="formData.comuna" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Región</label>
          <ion-input type="text" [(ngModel)]="formData.region" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Correo electrónico</label>
          <ion-input type="email" [(ngModel)]="formData.email" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Contraseña</label>
          <ion-input type="password" [(ngModel)]="formData.password" class="custom-input"></ion-input>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <div class="input-group">
          <label class="input-label">Confirmar Contraseña</label>
          <ion-input type="password" [(ngModel)]="formData.confirmarPassword" class="custom-input"></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button fill="clear" expand="block" (click)="verTerminos()">
    Ver términos y condiciones
  </ion-button>

  <ion-item lines="none">
    <ion-checkbox slot="start" [(ngModel)]="formData.aceptaTerminos"></ion-checkbox>
    <ion-label>Acepto los términos y condiciones</ion-label>
  </ion-item>

  <ion-item *ngIf="formData.aceptaTerminos" lines="none" class="confirmacion">
    <ion-label color="primary">Términos aceptados </ion-label>
  </ion-item>

  <ion-button
    expand="block"
    color="tertiary"
    (click)="registrar()"
    [disabled]="!formData.aceptaTerminos"
    class="centered-button"
  >
    Registrar
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="goBack()" class="centered-button">
    Volver
  </ion-button>

</ion-content>