<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Te damos la bienvenida a NotaLoop</h2>
  <p>Comencemos con el registro</p>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-input
          label="Nombre"
          [(ngModel)]="formData.nombre"
        ></ion-input>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-input
          label="Apellidos"
          [(ngModel)]="formData.apellidos"
        ></ion-input>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-input
          label="Nombre de Usuario"
          [(ngModel)]="formData.usuario"
        ></ion-input>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-input
          label="Rut"
          [(ngModel)]="formData.rut"
        ></ion-input>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-input
          label="Comuna"
          [(ngModel)]="formData.comuna"
        ></ion-input>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-input
          label="Región"
          [(ngModel)]="formData.region"
        ></ion-input>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-input
          label="Correo electrónico"
          type="email"
          [(ngModel)]="formData.email"
        ></ion-input>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-input
          label="Contraseña"
          type="password"
          [(ngModel)]="formData.password"
        ></ion-input>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-input
          label="Confirmar Contraseña"
          type="password"
          [(ngModel)]="formData.confirmarPassword"
        ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button fill="clear" expand="block">
    Ver términos y condiciones
  </ion-button>

  <ion-item lines="none">
    <ion-checkbox
      slot="start"
      [(ngModel)]="formData.aceptaTerminos"
    ></ion-checkbox>
    <ion-label>Acepto los términos y condiciones</ion-label>
  </ion-item>

  <ion-button
    expand="block"
    color="tertiary"
    (click)="registrar()"
    [disabled]="!formData.aceptaTerminos"
  >
    Registrar
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/">
    Volver
  </ion-button>

</ion-content>