<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>NotaLoop</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/notes">Explorar Apuntes</ion-button>
    <ion-button routerLink="/community">Comunidad</ion-button>
    <ion-button routerLink="/questions">Preguntas/Respuestas</ion-button>
    <ion-button routerLink="/login">Inicio de Sesión</ion-button>
    <ion-button routerLink="/register">Registro</ion-button>
  </ion-buttons>
</ion-toolbar>