ion-card {
  background-color: #F2EEE9; /* Establece el color de fondo */
  border: none; /* Elimina cualquier borde que tenga por defecto */
  margin: 0;
  padding: 0; 
}
ion-card-title {
  color: #000000; /* Color negro */
  font-size: 32px; /* Ajusta el tamaño de la fuente si es necesario */
  margin-top: 24px;
  font-weight: bold; /* Ajusta el peso de la fuente si es necesario */
}

swiper-container {
  width: 100%; /* Esto asegura que el contenedor tenga el 100% del ancho disponible */
  max-width: 80%; /* Aseguramos que el contenedor no se limite en su tamaño */
  margin: 0 auto; /* Centrado horizontal */
}
swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white; /* Fondo blanco para el rectángulo */
  padding: 30px; /* Añadimos un poco más de padding */
  border-radius: 60px; /* Bordes redondeados */
  width: 1204px; /* Hacemos el rectángulo blanco más ancho */
  height: 404px; /* Mantenemos la altura */
  box-sizing: border-box;
  margin-left: 0; /* Aseguramos que no haya espacio a la izquierda */
  margin-right: -100px; /* Mueve el rectángulo hacia la derecha */
}

.text-container {
  flex: 1; /* Toma el 50% del espacio disponible */
  margin-right: 20px; /* Separa el texto de la imagen, puedes ajustarlo */
  margin-left: 10px; /* Mueve el texto un poco más a la izquierda */
}

swiper-slide p {
  font-size: 24px;
  color: #666;
  padding: 0 20px;
  margin-top: 30px; /* Ajusta este valor para aumentar la distancia entre el texto y el título */
}

.hero-card {
  text-align: center;
  background-color: #fef9e7;
  margin: 0;
  padding: 0; 
}

.slide-container {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: space-between; /* Ajuste entre texto y la imagen */
  width: 80%;
}

.text-container h2 {
  font-size: 32px; /* Título en tamaño 32px */
  color: #141414; /* Color negro */
  font-weight: bold;
}

.text-container p {
  font-size: 24px; /* Definición en tamaño 16px */
  color: #000000; /* Color gris claro */
}

.slide-img {
  width: 400px; /* Ajusta el tamaño de la imagen a la derecha */
  height: auto;
  display: block;
  margin-left: 20px; /* Separación entre la imagen y el texto */
}

.logo-img {
  width: 800px; /* Ajusta el tamaño de la imagen a 80px de ancho */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: auto; /* Ajusta el margen si es necesario */
}

.logo-text {
  font-size: 36px;
  color: #f97d6b;
  font-weight: bold;
}

.tagline {
  font-size: 18px;
  color: #b57fe0;
  margin-bottom: 20px;
}

swiper-container {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  --swiper-pagination-color: #f97d6b;
  --swiper-pagination-bullet-size: 10px;
}


swiper-slide h2 {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
  font-weight: 600;
}

swiper-slide p {
  font-size: 24px;
  color: #666;
  padding: 0 20px;
}

.footer {
  background-color: #fef9e7;
  padding: 20px;
  margin-top: 30px;
}

ion-footer ul {
  list-style: none;
  padding: 0;
}

ion-footer li {
  margin-bottom: 5px;
}
.carousel {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin-bottom: 0; /* Eliminamos cualquier margen inferior */
}
.company-card {
  background-color: white;
  padding: 80px;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}

/* Estilo para el contenedor de las filas */
.company-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Fila de columnas - EMPRESA, Contacto y ayuda, Legal */
.company-row {
  display: flex;
  justify-content: center; /* Centramos horizontalmente las columnas */
  gap: 100px; /* Espacio fijo entre columnas */
  margin-bottom: 40px;
}

/* Estilo para cada columna */
.company-column {
  flex: 1; /* Asegura que las columnas ocupen el mismo espacio */
  padding: 50px 50px; /* Espaciado entre las columnas */
}

/* Estilo para el título de cada columna */
.company-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; /* Espacio entre el título y los elementos */
}

/* Estilo para los elementos dentro de las columnas */
.company-column p {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; /* Espaciado entre los elementos */
}

/* Opcional: Asegura que el contenido dentro de las columnas esté alineado */
.company-column p:last-child {
  margin-bottom: 0;
}
