<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit-profile-wrapper">
    <!-- Imagen -->
    <div class="image-wrapper">
      <img src="assets/icon/perfil.jpg" alt="Foto de perfil" class="profile-img" />
    </div>

    <!-- Formulario -->
    <div class="form-wrapper">
      <div class="input-section">
        <div class="input-group">
          <label class="input-label">Cambiar Nombre</label>
          <ion-input [(ngModel)]="formEdit.nombre" class="custom-input"></ion-input>
        </div>
        <div class="input-group">
          <label class="input-label">Cambiar Institución</label>
          <ion-input [(ngModel)]="formEdit.institucion" class="custom-input"></ion-input>
        </div>
        <div class="input-group">
          <label class="input-label">Cambiar Correo</label>
          <ion-input [(ngModel)]="formEdit.email" type="email" class="custom-input"></ion-input>
        </div>
        <div class="input-group">
          <label class="input-label">Cambiar Contraseña</label>
          <ion-input [(ngModel)]="formEdit.password" type="password" class="custom-input"></ion-input>
        </div>
        <ion-button (click)="guardarCambios()" class="save-button" color="tertiary">
          Guardar cambios
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>