<ion-toolbar color="light">
  <ion-buttons slot="start" class="mobile-only">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  
  <ion-title>NotaLoop</ion-title>
  
  <ion-buttons slot="end" class="desktop-only">
    <ion-button routerLink="/notes">Explorar Apuntes</ion-button>
    <ion-button routerLink="/upload-file">Subir archivos</ion-button>
    <ion-button routerLink="/community">Comunidad</ion-button>
    <ion-button routerLink="/questions">Preguntas/Respuestas</ion-button>
    <ion-button routerLink="/profile">perfil</ion-button>
    <ion-button routerLink="/home">Cerrar Sesion</ion-button>
  </ion-buttons>
</ion-toolbar>
